body{
    width: 100%;
    height: 100%;
}

#openerr{
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  opacity:1;
  -webkit-transition: 0.3s ease-out;
  -moz-transition:  0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3 ease-out;
}

#openerr.fade{
  opacity: 0;
}

.filter{
  position: absolute;
  top:3vh;
  left:3vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color:white;
}

.snowboard_container {
    position: relative;
    margin: 20vh auto;
    border: 1px solid black;
    height: 60vh;
    width: 60vw;
  }
  
  .snowboard {
    position: relative;
    height: 40vh;
    top: 10vh;
    left: 20%;
  }

  .progress {
    z-index: 2;
    width: 32%;
    margin-bottom: 1rem;
    margin-left: 30vw;
  }

  input.progress[value] {
    position: relative;
    z-index: 2;
    width: 52%;
    /* top: 50vh; */
    -webkit-appearance: none;
    background-color: transparent;
    color: black;
  }

  /* input.progress[value]:focus {
  } */

  input.progress[value]:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 2;
    width: 100%;
    height: 1px;
    background-color: black;
  }

  input.progress[value]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    border-radius: 10%;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse-black 2s infinite;
    -webkit-animation: pulse-black 2s infinite;
  }

  @keyframes pulse-black {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  @-webkit-keyframes pulse-black {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

.progresscontainer{
  z-index: 2;
  position: absolute;
  width: 60vw;
  top: 90vh;
  left: 5vw;
}

  .burton {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    padding-top: 2%;
    }

  .container{
    padding:20vh;
    display:flex;
    flex-direction: row;
  }

  .snowboard{
    position:absolute;
    top:25vh;
    height:50vh
  }

  .snowboard_brand{
    color:white;
    position:absolute;
    align-content: center;
    justify-content: center;
    top: 25vh;
    left: 28vw;
    margin-top: 10vh;
    font-family:'skia';
    font-weight: 900;
    font-style: black;
    font-size: 30pt;
    text-shadow: 3px 4px 5px #000;
  }

  .snowboard_name{
    color:yellow;
    width: 120pt;
    height: 30pt;
    position:absolute;
    left: 28vw;
    top: 55vh;
    font-family:'skia';
    font-weight: 900;
    font-style: black;
    font-size: 20pt;
    text-shadow: 3px 4px 5px #000;
  }

  .snowboard_description{
    color:white;
    position:absolute;
    width: 220pt;
    height:300pt;
    height: 20vh;
    top: 40vh;
    left: 60vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-style: oblique;
    text-shadow: 3px 4px 5px #000;
  }

  .snowboard_background{
    position:absolute;
    width: 100%;
    height: 100%;
  }

  .cover{
    position:fixed;
    width:100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.863);
    opacity:50%;
  }

.swiper-button-next{
  position: absolute;
  opacity:1;
  --swiper-theme-color: black;
}

.swiper-button-prev{
  position: absolute;
  --swiper-theme-color: black;
}

